# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Django files
db.sqlite3
/staticfiles/
media/

# Environment variables
.env

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
